@model SliderEditVM


@{
    ViewData["Title"] = "Edit";
}

<div class="container mt-5">
    <h1>Slider Edit</h1>
    <div class="image">
        <img src="~/admin/assets/images/@Model.Image" style="width:300px; height:200px" />
    </div>

    <form method="post" asp-action="Edit" enctype="multipart/form-data">
        <div class="forms-sample">
            <label for="exampleInputUsername1">Slider</label>
            <input class="form-control" asp-for="NewImage" maxlength="100" placeholder="Slider ..."></input>
            <input asp-for=Title class="form-control" maxlength="800" placeholder="Title ..."></input>
            <input asp-for=Description class="form-control" maxlength="800" placeholder="Description ..."></input>
            <span asp-validation-for="NewImage" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary mr-2 mt-3">Submit</button>
        <a class="btn btn-light mt-3" asp-action="Index">Cancel</a>
    </form>
</div>

